



*  {
    margin: 5px;
    padding: 0%;

    background-image:  url("media/images/Crowd Hands.jpg");
    background-size: cover;
}



h1{
   
    font-family: "filmotype-maxwell", sans-serif;
    font-weight: 800px;
    font-style: bold;
    font-size: 100px;
   
}

h2{

    font-family: "fastpen", sans-serif;
font-weight: 500px;
font-style: bold;
font-size: 50px;

}

h2 {
    display: inline;
     background-color: ghostwhite; 
    width: 100%;
   
}

h3 {
    font-family: "filmotype-maxwell", sans-serif;
    font-weight: 100px;
    font-style: bold;
    font-size: 40px;  
}
 



body {

    background-color: darkred;
}

.menu ul {
    list-style-type: none;
    margin-top: 20px;
    width: 1920px;
    background-color: darkred;
}
.menu li a {
    display: inline;
    width: 100px;
    color: #000;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    text-decoration: underline;
    text-align: right;
    outline-color: rgb(237, 233, 233);
    outline-width: 2px;
    outline-style: none;
}
.menu li a:hover {
    background-color: rgb(9, 1, 1);
    color: aliceblue;
}