
*  {
    margin: 5px;
    margin-left: 10px;
    margin-bottom: 0px;
    padding: 0%;

    background-image:  url("media/images/Crowd Hands.jpg");
    background-size: cover;
}



h1{
   
    font-family: "filmotype-maxwell", sans-serif;
    font-weight: 800px;
    font-style: bold;
    font-size: 100px;
   
}

h2{

    font-family: "fastpen", sans-serif;
font-weight: 500px;
font-style: bold;
font-size: 50px;

}

h2 {
    display: inline;
     background-color: ghostwhite; 
    width: 100%;
   
}

h3 {
    font-family: "filmotype-maxwell", sans-serif;
    font-weight: 100px;
    font-style: bold;
    font-size: 40px;  
}

h4 {
    font-family: "filmotype-maxwell", sans-serif;
    font-weight: 100px;
    font-style: bold;
    font-size: 30px;  
    font-style: italic;
    color: #f8f5f5;

}
 



body {

    background-color: darkred;
    
}
img {
    width: 300px;
}


.menu ul {
    list-style-type: none;
    margin-top: 20px;
    width: 50px;
    background-color: darkred;
}
.menu li a {
    display: inline;
    width: 50px;
    color: #000;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    text-decoration: underline;
    text-align: right;
    outline-color: rgb(237, 233, 233);
    outline-width: 2px;
    outline-style: none;
}
.menu li a:hover {
    background-color: rgb(9, 1, 1);
    color: aliceblue;
}

.Buttons {
    display: block;
    width: 300px;
    height: px;
    margin-left: 100px;
    
}

.tenor-gif-BevisButt
{
   position: absolute;
   top: 3%;
   left: 1000px;

    width: 200px;
    height: 200px;
}
.musicplayer
 {
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

}

